$color-primary: #171628;
$color-primary-light: #CBCBCB;
$color-additional-light: #FFFFFF;
$color-additional: #7EB92D; 
$color-background-light: #FFFFFF;

$content-width: 1200px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-big-width: 420px;
$mobile-small-width: 320px;