.education {
	&__text {
		padding-top: 60px;
		@include font($size: 3rem, $height: 4rem, $space: 0.4rem);

		@include media-laptop {
			padding-top: 30px;
		}

		@include media-tablet {
			@include font($size: 2.7rem, $height: 3.2rem, $space: 0.2rem);
		}

		@include media-mobile-big-width {
			@include font($size: 2.2rem, $height: 3.2rem, $space: 0.2rem);
			padding-top: 15px;
		}
	}

	&__subtitle {
		@include font($size: 1.8rem, $height: 3.5rem, $space: 0.2rem);

		@include media-tablet {
			@include font($size: 1.6rem, $height: 2.3rem);
		}

		@include media-mobile-big-width {
			@include font($size: 1.5rem, $height: 2.5rem, $space: 0.1rem);
		}
	}
}
