.parallax {
	background-image: url(../assets/img/parallax1920.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	height: 500px;
	width: 100%;
}