.skills {
	&__wrapper {
		padding-top: 30px;
	}
}
	.skills-list {
	&__item {
		margin-top: 30px;
		@include font($size: 2.2rem, $weight: 500, $height:3rem);
		position: relative;

		&:nth-child(1) {
			&::before {
				@include progress-bar ($width: 75%);
				background-color: $color-primary;
			}
		}

		&:nth-child(2) {
			&::before {
				@include progress-bar ($width: 50%);
				background-color: $color-primary;
			}
		}

		&:nth-child(3) {
			&::before {
				@include progress-bar ($width: 25%);
				background-color: $color-primary;
			}
		}

		&:nth-child(4) {
			&::before {
				@include progress-bar ($width: 25%);
				background-color: $color-primary;
			}
		}

		&:nth-child(5) {
			&::before {
				@include progress-bar ($width: 90%);
				background-color: $color-primary;
			}
		}

		&:nth-child(6) {
			&::before {
				@include progress-bar ($width: 100%);
				background-color: $color-primary;
			}
		}

		&:nth-child(7) {
			&::before {
				@include progress-bar ($width: 75%);
				background-color: $color-primary;
			}
		}

		&:nth-child(8) {
			&::before {
				@include progress-bar ($width: 75%);
				background-color: $color-primary;
			}
		}

		&:nth-child(9) {
			&::before {
				@include progress-bar ($width: 50%);
				background-color: $color-primary;
			}
		}

		&:nth-child(10) {
			&::before {
				@include progress-bar ($width: 90%);
				background-color: $color-primary;
			}
		}

		&:nth-child(11) {
			&::before {
				@include progress-bar ($width: 75%);
				background-color: $color-primary;
			}
		}
	}

	&__line {
		display: flex;
		align-items: center;
	}
}
